{% extends "discos/base.html" %}
{% load static %}

{% block content %}

{% if user.is_staff %}
<header>
    <div class="row justify-content-center">
        <div class="col-md-7 col-sm-10">
            <h1>Listado de Álbumes</h1>
        </div>
        <div class="col-md-3 col-sm-10">
            <div class="container-btn">
                <button class="btn btn-light" id="btnAgregar">
                    <a href="{% url 'albumsAdd' %}">Agregar Álbum</a>
                </button>
            </div>
        </div>
    </div>
</header>

<div class="row justify-content-center">
    <div class="col-10">

        <div class="row justify-content-center filtro">
            <div class="col-md-6">
                <input type="text" id="searchInputMantAlbum" class="form-control" placeholder="Buscar Álbum...">
            </div>
            <div class="col-md-3">
                <select id="formatoSelectMant" name='formato' class="form-control">
                    <option value="">Formato</option>
                    {% for formato in formatos %}
                        <option value="{{ formato.id_formato }}">{{ formato.formato }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <select id="generoSelectMant" name='genero' class="form-control">
                    <option value="">Género</option>
                    {% for genero in generos %}
                        <option value="{{ genero.id_genero }}">{{ genero.genero }}</option>
                    {% endfor %}
                </select>
            </div>
          </div>
        
        <br>

        <div class="table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Artista</th>
                        <th scope="col">Álbum</th>
                        <th scope="col">Género</th>
                        <th scope="col">Lanzamiento</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Formato</th>
                        <th scope="col">Stock</th>
                        <th scope="col" colspan="2">Acción</th>
                    </tr>
                </thead>
                <tbody id="albumsTable">
                    {% for album in albums %}
                        <tr>
                            <td>{{ album.id_artista }}</td>
                            <td>{{ album.nombre_disco }}</td>
                            <td>{{ album.id_genero }}</td>
                            <td>{{ album.fecha_lanzamiento|date:"d/m/Y" }}</td>
                            <td>${{ album.precio }}</td>
                            <td>{{ album.id_formato }}</td>
                            <td>{{ album.stock }}</td>
                            <td class="td-update equal-width"><a href="{% url 'albums_edit' pk=album.id_album %}">Modificar</a></td>
                            <td class="td-delete equal-width"><a href="{% url 'albums_del' pk=album.id_album %}?page={{ albums.number }}">Eliminar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Paginación de Bootstrap -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if albums.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="Primera">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Primera</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ albums.previous_page_number }}" aria-label="Anterior">
                                <span aria-hidden="true">&lt;</span>
                                <span class="sr-only">Anterior</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for num in albums.paginator.page_range %}
                        {% if albums.number == num %}
                            <li class="page-item active" aria-current="page"><span class="page-link">{{ num }}</span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if albums.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ albums.next_page_number }}" aria-label="Siguiente">
                                <span aria-hidden="true">&gt;</span>
                                <span class="sr-only">Siguiente</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ albums.paginator.num_pages }}" aria-label="Última">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Última</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

{% else %}
<div class="container-permisos">
    <h1>Error</h1>
    <p>No tienes permisos para ver esta página</p>
</div>
{% endif %}

{% endblock %}
