{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vinyl's Lovers</title>

        <!-- JQuery -->
        <script
          src="https://code.jquery.com/jquery-3.7.1.min.js"
          integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
          crossorigin="anonymous"
        ></script>
    
        <!-- Bootstrap -->
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
          crossorigin="anonymous"
        />
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
          integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
          crossorigin="anonymous"
        ></script>
    
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    
        <!-- Custom JS -->
        <script src="{% static 'js/main.js' %}"></script>

      </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'img/vllogo.png' %}" alt="logo" class="img-fluid"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {% if clase == 'index' %}<li class="nav-item active">{% else %}<li class="nav-item">{% endif %}
              <a class="nav-link" href="{% url 'index' %}">Inicio</a>
            </li>
            {% if user.is_staff %}
              {% if clase == 'mantenedores' %}<li class="nav-item dropdown active">{% else %}<li class="nav-item dropdown">{% endif %}
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mantenedores   
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'crud_artistas' %}">Artistas</a>
                      <a class="dropdown-item" href="{% url 'crud_albums' %}">Discos</a>
                  </div>
              </li>
              {% if clase == 'mensajes' %}<li class="nav-item active">{% else %}<li class="nav-item">{% endif %}
                  <a class="nav-link" href="{% url 'mensajes' %}">Mensajes</a>
              </li>
            {% endif %}
              
            {% if clase == 'discos' %}<li class="nav-item active">{% else %}<li class="nav-item">{% endif %}
                <a class="nav-link" href="{% url 'discos' %}">Discos</a>
            </li>
              
            {% if clase == 'carrito' %}<li class="nav-item active">{% else %}<li class="nav-item">{% endif %}
                <a class="nav-link" href="{% url 'carrito' %}">Carrito <span id="orderBadge" class="badge badge-warning d-none">0</span></a>
            </li>

            {% if clase == 'contacto' %}<li class="nav-item active">{% else %}<li class="nav-item">{% endif %}
                <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
            </li>

            {% if user.is_authenticated %}
              {% if clase == 'perfil' %}<li class="nav-item dropdown active">{% else %}<li class="nav-item dropdown">{% endif %}
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ user.username }}    
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'perfil' %}">Mi Perfil</a>
                    <form method="post" action="{% url 'logout' %}" style="display: inline;">
                      {% csrf_token %}
                      <button type="submit" class="dropdown-item" style="cursor: pointer; border: none; background: none; padding: 0;">Cerrar Sesión</button>
                    </form>
                  </div>
              </li>
            {% else %}
              {% if clase == 'entrar' %}<li class="nav-item active">{% else %}<li class="nav-item">{% endif %}
                  <a class="nav-link" href="{% url 'entrar' %}">Entrar</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>

    {% block content %}{% endblock %}

    <footer class="footer">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-md-4">
                  <p><b>Vinyl's Lovers &copy; 2024</b></p>
                  <p>Todos los derechos reservados.</p>
              </div>
              <div class="col-md-4">
                  <ul>
                      <li style="list-style: none;"><a href="https://x.com/numetal_moment">Twitter</a></li>
                      <li style="list-style: none;"><a href="https://www.instagram.com/alantiwa2000">Instagram</a></li>
                      <li style="list-style: none;"><a href="https://www.linkedin.com/in/vicente-fredes-estuardo/">Linkedin</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </footer>
  

</body>
</html>
