{% extends "discos/base.html" %}
{% load static %}

{% block content %}

    {% if user.is_staff %}

        <header>
            <div class="row justify-content-center">
                <div class="col-10">
                    <h1 id="tituloIndexAdmin">Panel de Administración</h1>
                </div>
            </div>   
        </header>

        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row justify-content-center">
                    <!-- Cantidad total de artistas -->
                    <div class="col-md-3">
                        <div class="container-fluid bg-white mb-4 p-4">
                            <div class="text-center">
                                <h2 class="display-4">{{ total_artistas }}</h2>
                                <p class="lead">Artistas disponibles</p>
                            </div>
                        </div>
                    </div>
        
                    <!-- Cantidad total de álbumes -->
                    <div class="col-md-3">
                        <div class="container-fluid bg-white mb-4 p-4">
                            <div class="text-center">
                                <h2 class="display-4">{{ total_albumes }}</h2>
                                <p class="lead">Álbumes disponibles</p>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="row justify-content-center">
                    <!-- Cantidad total de géneros -->
                    <div class="col-md-3">
                        <div class="container-fluid bg-white mb-4 p-4">
                            <div class="text-center">
                                <h2 class="display-4">{{ total_generos }}</h2>
                                <p class="lead">Géneros disponibles</p>
                            </div>
                        </div>
                    </div>
        
                    <!-- Cantidad total de compras finalizadas -->
                    <div class="col-md-3">
                        <div class="container-fluid bg-white mb-4 p-4">
                            <div class="text-center">
                                <h2 class="display-4">{{ total_compras }}</h2>
                                <p class="lead">Compras realizadas</p>
                            </div>
                        </div>
                    </div>
                </div>
        
                <h1 class="mt-4 mb-4" id="tituloEstadisticas">Estadísticas</h1>
        
                <div class="row justify-content-center">
                    <!-- Cantidad de artistas por país -->
                    <div class="col-md-6">
                        <div class="container-fluid bg-white mb-4 p-4">
                            <h2>Cantidad de artistas por país</h2>
                            <div class="row justify-content-center">
                                <div class="col-md-4">
                                    <ul>
                                        {% for stats in artistas_por_pais %}
                                            <li>{{ stats.pais }}: {{ stats.num_artistas }}</li>
                                            {% if forloop.counter|divisibleby:12 and not forloop.last %}
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <ul>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <!-- Cantidad de álbumes por género -->
                    <div class="col-md-6">
                        <div class="container-fluid bg-white mb-4 p-4">
                            <h2>Cantidad de álbumes por género</h2>
                            <div class="row justify-content-center">
                                <div class="col-md-4">
                                    <ul>
                                        {% for stats in albumes_por_genero %}
                                            <li>{{ stats.id_genero__genero }}: {{ stats.num_albumes }}</li>
                                            {% if forloop.counter|divisibleby:12 and not forloop.last %}
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <ul>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <!-- Cantidad de álbumes por formato -->
                    <div class="col-md-6">
                        <div class="container-fluid bg-white mb-4 p-4">
                            <h2>Cantidad de álbumes por formato</h2>
                            <div class="row justify-content-center">
                                <div class="col-md-5">
                                    <ul>
                                        {% for stats in albumes_por_formato %}
                                            <li>{{ stats.id_formato__formato }}: {{ stats.num_albumes }}</li>
                                            {% if forloop.counter|divisibleby:4 and not forloop.last %}
                                                </ul>
                                            </div>
                                            <div class="col-md-5">
                                                <ul>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <!-- Cantidad de álbumes por década -->
                    <div class="col-md-6">
                        <div class="container-fluid bg-white mb-4 p-4">
                            <h2>Cantidad de álbumes por década</h2>
                            <div class="row justify-content-center">
                                <div class="col-md-4">
                                    <ul>
                                        {% for stats in estadisticas_por_decada %}
                                            <li>{{ stats.decada }}: {{ stats.num_albumes }}</li>
                                            {% if forloop.counter|divisibleby:4 and not forloop.last %}
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <ul>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div> 

    {% else %}

        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12">
                <br>
                <h1 id="tituloIndexCliente">Bienvenido/a {{ user.username }} </h1>
                <br>
                <div id="carouselInicio" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                    <li data-target="#carouselInicio" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselInicio" data-slide-to="1"></li>
                    <li data-target="#carouselInicio" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100 img-fluid" src="{% static 'img/slide1.jpg' %}" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>¡Explora nuestra colección de vinilos clásicos y modernos. ¡Encuentra tu música favorita en formato físico!</h5>
                        </div>
                        </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid" src="{% static 'img/slide2.png' %}" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>!Ofertas exclusivas en discos seleccionados. ¡Aprovecha nuestros precios y completa tu colección!</h5>
                        </div>
                    </div>
                    <div class="carousel-item img-fluid">
                        <img class="d-block w-100" src="{% static 'img/slide3.jpeg' %}" alt="Third slide">
                        <div class="carousel-caption d-none d-md-block">
                        <h5>¡Descubre nuevos lanzamientos y reediciones especiales. ¡Mantente al día con las últimas novedades musicales!</h5>
                        </div>
                    </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselInicio" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Prev.</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselInicio" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <div class="col-lg-8 col-md-10">
                <div class="container-novedades bg-white">
                    <h2>Novedades</h2>
                    <div class="list-group">
                        {% for album in novedades %}
                        <a href="{% url 'discos' %}" class="list-group-item list-group-item-action">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="{{ album.portada.url }}" class="img-fluid rounded-lg" alt="{{ album.nombre_disco }}">
                                </div>
                                <div class="col-md-6">
                                    <h5 class="mb-1">{{ album.nombre_disco }}</h5>
                                    <p class="mb-1"><strong>Artista:</strong> {{ album.id_artista }}</p>
                                    <p class="mb-1"><strong>Formato:</strong> {{ album.id_formato }}</p>
                                    <p class="mb-1"><strong>Precio:</strong> ${{ album.precio }}</p>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>        

    {% endif %}

{% endblock %}
